.signInPage {
  width: 100vw;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .logoBox {
    padding-bottom: 2rem;
  }

  .formBox {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    max-width: 35rem;
  }

  .textBox {
    @include pretendard-16-400;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    .link {
      text-decoration: underline;
    }
  }
}
