.container {
  width: 100%;
  padding: 6rem 3.2rem;
  background-color: $color-red-10;
  display: flex;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 96.4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .heading {
    @include sopoqa-28-700;

    margin-bottom: 3.2rem;
  }
}

@include mobile {
  .container {
    .heading {
      @include sopoqa-20-700;

      margin-bottom: 1.6rem;
    }
  }
}
