.container {
  width: 100%;
  padding: 60px 32px;
  background-color: $color-red-10;
  display: flex;
  justify-content: center;

  .content {
    width: 100%;
    max-width: 964px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .heading {
    @include sopoqa-28-700;

    margin-bottom: 3.2rem;
  }
}
