.noticeInfoContainer {
  display: flex;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-direction: column;
  align-items: center;
  background: $color-gray-5;
  @include tablet {
    padding: 60px 32px;
  }
  @include mobile {
    padding: 40px 12px;
  }
}

.noticeInfoContent {
  display: flex;
  width: 100%;
  max-width: 96.4rem;
  flex-direction: column;
  gap: 24px;
}

.titleFont {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h1 {
    color: $color-black;
    @include sopoqa-28-700;
  }

  h2 {
    color: $color-primary;
    @include sopoqa-16-700;
  }
}

.detailFrame {
  display: flex;
  padding: 24px;
  gap: 30px;
  align-items: flex-start;
  border: 1px solid $color-gray-20;
  border-radius: 12px;
  background: $color-white;
  @include tablet {
    flex-direction: column;
    gap: 24px;
  }
  @include mobile {
    flex-direction: column;
    gap: 12px;
  }
}

.noticeImg {
  width: 53.9rem;
  height: 30.8rem;
  position: relative; /* z-index를 사용하기 위해 필요 */
  z-index: 1;
  img {
    border-radius: 12px;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  @include tablet {
    width: 100%;
    height: auto;
    aspect-ratio: 1.75 / 1;
  }

  @include mobile {
    width: 100%;
    height: auto;
    aspect-ratio: 1.75 / 1;
  }
}

.noticeDetail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 34.6rem;
  height: 30.8rem;
  @include tablet {
    max-width: none;
    height: 100%;
  }
  @include mobile {
    max-width: none;
    height: 100%;
  }
}

.wage {
  > div {
    color: $color-black;
    @include sopoqa-28-700;
  }
  display: flex;
  align-items: center;
  gap: 8px;
}

.clock,
.location {
  display: flex;
  align-items: center;
  gap: 6px;
  @include sopoqa-16-400;
  color: $color-gray-50;
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

.shopDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  flex-grow: 1;
  color: $color-black;
  @include sopoqa-16-400;
  @include tablet {
    flex-grow: 0;
    -webkit-line-clamp: 5;
  }
  @include mobile {
    flex-grow: 0;
    -webkit-line-clamp: 5;
  }
}

.noticeDescription {
  display: flex;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  background: $color-gray-10;
  gap: 12px;

  > h1 {
    color: $color-black;
    @include sopoqa-16-700;
  }
  > p {
    word-break: break-word;
    color: $color-black;
    @include sopoqa-16-400;
  }
}

@include tablet {
  .detailFrame {
    flex-direction: column;
  }
  .applicationButton {
    margin-top: 28px;
    max-width: none;
    width: 100%;
  }
}

@include mobile {
  .applicationButton {
    margin-top: 12px;
    max-width: none;
    width: 100%;
  }
}
