.modalContainer {
  display: flex;
  padding: 2.4rem;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  background-color: $color-white;
  border-radius: 1.2rem;

  .messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
  }
  .text {
    color: $color-black;
    text-align: center;
    @include sopoqa-16-400;
  }
  .buttonContainer {
    display: flex;
    gap: 0.8rem;
    width: 100%;
    justify-content: center;
  }
  .leftButton,
  .rightButton {
    display: flex;
    width: 8rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 0.6rem;
    border: 0.1rem solid $color-red-40;
    background: $color-white;
  }
}
