.container {
  background-color: $color-gray-10;
  width: 100%;
  height: 10rem;
  padding: 3.7rem 23.8rem;

  position: relative;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include sopoqa-16-400;
  color: $color-gray-50;
}

.information-and-support {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  @include sopoqa-16-400;
}

.link-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @include sopoqa-16-700;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

@include tablet {
  .container {
    padding: 3.7rem 3.2rem;
  }
}

@include mobile {
  .container {
    height: 12.6rem;
    padding: 3.2rem 2rem 1.6em;
    flex-wrap: wrap;
  }
  .information-and-support {
    @include sopoqa-14-400;
  }
  .credits {
    margin-top: 4rem;

    order: 1;
    width: 100%;
    @include sopoqa-12-400;
  }
}
