.NoticesViewedRecent {
  display: flex;
  padding: 6rem 23.8rem 12rem 23.8rem;
  flex-direction: column;
  align-items: flex-start;
}
.contextFrame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.2rem;
  > h1 {
    color: $color-black;
    @include sopoqa-28-700;
  }
}
.postFrame {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  width: 280px;
  height: 317px;
}
.post {
  width: 280px;
  height: 317px;
}
