.NoticesRecentContainer {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 12rem;
  flex-direction: column;
  align-items: center;
  background: var(--The-julge-gray-05, #fafafa);
  @include tablet {
    padding: 6rem 3.2rem;
  }
  @include mobile {
    padding: 40px 12px 80px 12px;
  }
}
.contextFrame {
  display: flex;
  width: 100%;
  max-width: 97.6rem;
  flex-direction: column;
  gap: 3.2rem;
  > h1 {
    color: $color-black;
    @include sopoqa-28-700;
  }
  .postFrame {
    align-items: center;
    justify-content: center;
  }
}
.postFrame {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  flex-wrap: wrap;
  gap: 20px;
  // 모바일 질문
}
