.table {
  table-layout: fixed;
  border-radius: 1rem; // 테이블 모서리 둥글게
  border: 0.1rem solid $color-gray-20; // 테이블 테두리
  width: 100%;
  flex-shrink: 0;
  padding: 2rem 1.2rem;
  color: $color-black;
  @include sopoqa-16-400; // 글꼴 설정

  > thead {
    width: 100%;
    padding: 1.4rem 1.2rem; // 헤더 패딩
    background: $color-red-10; // 헤더 배경색
    th {
      text-align: left;
      padding: 1.4rem 1.2rem;
      width: auto;
    }
    th:nth-child(2) {
      width: 30%;
    }
    th:last-child {
      width: 25%;
    }
  }
  > tbody {
    max-height: 9.2rem;
    width: 100%;
    tr,
    td {
      white-space: nowrap;
      padding: 2rem 1.2rem;
      text-overflow: ellipsis; // 텍스트 넘치면 생략
      overflow: hidden; // 넘치는 내용 숨기기
    }
  }
  @include tablet {
    th:nth-child(2),
    td:nth-child(2) {
      display: none;
    }
    th:nth-child(1) {
      width: 33%;
    }
    th:nth-child(3) {
      width: 33%;
    }
    th:nth-child(4) {
      width: 33%;
    }
  }
  @include mobile {
    padding: 1.2rem 0.8rem;
    @include sopoqa-14-400;
    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(3),
    td:nth-child(3) {
      display: none;
    }
    th:first-child {
      width: 50%;
    }
    th:last-child {
      width: 50%;
    }
  }
}
