@import "/src/styles/colors.scss";
@import "/src/styles/mixin.scss";
.table {
  table-layout: fixed;
  border-radius: 1rem; // 10px
  border: 0.1rem solid $color-gray-20; // 1px
  width: 100%;
  flex-shrink: 0;
  padding: 2rem 1.2rem;
  color: $color-black;
  font-size: 1.6rem; // 16px
  font-style: normal;
  font-weight: 400;
  line-height: 2.6rem; // 26px

  > thead {
    width: 100%;
    padding: 1.4rem 1.2rem; // 14px 12px
    background: $color-red-10;
    th {
      text-align: left;
      padding: 10px;
      padding: 1.4rem 1.2rem;
    }
    th:nth-child(1) {
      width: 23%;
    }
    th:nth-child(2) {
      width: 31%;
    }
    th:nth-child(3) {
      width: 20%;
    }
    th:nth-child(4) {
      width: 26%;
    }
  }
  > tbody {
    max-height: 9.2rem;
    width: 100%;
    > tr {
      td {
        white-space: nowrap;
        padding: 2rem 1.2rem;
        text-overflow: ellipsis; // 넘치는 텍스트를 ... 으로 표시
        overflow: hidden; // 넘치는 내용 숨기기
      }
    }
  }
  @include mobile {
    padding: 1.2rem 0.8rem; // 12px 8px
    font-size: 1.4rem; // 14px
    line-height: 2.2rem; // 22px
    th:nth-child(1) {
      width: 50%;
    }
    th:nth-child(2) {
      width: 50%;
    }
  }
}
