.container {
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.submitButton {
  width: 31.2rem;
  height: 4.8rem;
  padding: 1.4rem 13.6rem;
  white-space: nowrap;
  margin: 0 auto;
}
.inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
