.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.submitButton {
  width: 31.2rem;
  height: 4.8rem;
  padding: 1.4rem 13.6rem;
  white-space: nowrap;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .item {
    flex-grow: 1;

    .label {
      @include sopoqa-16-400;
      margin-bottom: 0.8rem;
    }
  }
}

.inputfield {
  max-width: 30.8rem;
}

.textField {
  max-width: 96.4rem;
  height: 18.7rem;
  margin-top: 2.4rem;
}

.submitButton {
  margin: 0 auto;
  margin-top: 3.2rem;
}

@include tablet {
  .inputContainer {
    flex-wrap: wrap;
  }
  .workhour {
    flex-basis: 100%;
    margin-right: auto;
  }

  .inputfield {
    max-width: 33rem;
  }
}

@include mobile {
  .inputContainer {
    flex-wrap: wrap;
  }

  .inputfield {
    max-width: 35.1rem;
  }
}
