.background {
  background-color: $color-white;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: $zindex-GNB;
}

.container {
  width: 100%;
  max-width: 96.4rem;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 11.2rem 1fr 1fr;
  align-items: center;

  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 11.2rem;
  height: 4rem;
  padding-right: 2rem;
}

@include mobile {
  .container {
    padding: 1rem 2rem;

    .item:nth-child(1) {
      grid-area: logo;
    }

    .item:nth-child(2) {
      grid-area: serachBar;
    }

    .item:nth-child(3) {
      grid-area: userAction;
    }

    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
      "logo userAction"
      "serachBar serachBar";
  }

  .search {
    width: 100%;
  }
}
