$option-height: 5.8rem;

.inputField {
  display: inline-flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;

  .default {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.6rem;
    border: 0.1rem solid $color-gray-30;
    padding: 1.6rem 2rem;
  }

  .error {
    border: 0.1rem solid $color-red-40;
  }

  .white {
    background: $color-white;
  }

  .gray {
    background: $color-gray-10;
  }

  .none {
    border: none;
  }

  .md {
    padding: 1.6rem 2rem;
    height: $option-height;
  }

  .sm {
    padding: 0.8rem;
  }

  @include tablet {
    .sm {
      gap: 1rem;
      padding: 1rem;
    }
  }

  @include desktop {
    .sm {
      gap: 1rem;
      padding: 1rem;
    }
  }
}
