.inputField {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;

  .default {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    border-radius: 0.375rem;
    border: 0.0625rem solid $color-gray-30;
  }

  .md {
    padding: 1rem 1.25rem;
    max-width: 35rem;
  }

  .sm {
    padding: 0.5rem;
    max-width: 33.5rem;
  }

  .label {
    @include sopoqa-16-400;
  }

  .error {
    border: 1px solid $color-red-40;
  }

  .white {
    background: $color-white;
  }

  .gray {
    background: $color-gray-10;
  }

  .none {
    border: none;
  }

  @include tablet {
    .sm {
      gap: 0.625rem;
      padding: 0.625rem;
    }
  }

  @include desktop {
    .sm {
      gap: 0.625rem;
      padding: 0.625rem;
    }
  }
}
