.slider {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;

  &:active {
    cursor: grabbing;
  }

  div {
    :active {
      cursor: grabbing;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
