.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .heading {
    @include sopoqa-28-700;
  }

  .filterBar {
    display: flex;
    gap: 1rem;

    .dropdown {
      border-radius: 0.5rem;
    }

    .button {
      @include sopoqa-14-700;

      width: 8rem;
      height: 3rem;
      background-color: $color-red-30;
    }
  }
}

@include mobile {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    .heading {
      @include sopoqa-20-700;
    }
  }
}
