.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.1rem;

  .heading {
    width: 11.2rem;
    height: 3.5rem;

    @include sopoqa-28-700;
  }

  .filter {
    width: 15rem;
    height: 3.5rem;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.4rem;
  row-gap: 3rem;
}

.post {
  max-width: 31.2rem;
  height: 35rem;
}

.slider {
  width: 100%;
  display: flex;
  gap: 1rem;
}

@include tablet {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@include mobile {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;

    .heading {
      @include sopoqa-20-700;
    }
  }

  .list {
    grid-template-columns: 1fr 1fr;
  }
}
