@import "/src/styles/colors.scss";
@import "/src/styles/mixin.scss";
.badge {
  display: flex;
  padding: 0.6rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  gap: 4px;
  //폰트
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 2rem;
}
.close {
  width: 1.6rem;
  height: 1.6rem;
  fill: none;
}
