.radioBox {
  display: flex;
  padding: 1.2rem 4rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  flex: 1 0 0;
  border-radius: 3rem;
  border: 0.1rem solid $color-gray-30;
  background: $color-white;
  @include sopoqa-14-400;

  &.checked {
    border: 0.1rem solid $color-primary;
  }
}
