.background {
  background-color: $color-gray-5;

  width: 100%;
  height: 56.9rem;
  padding: 6rem 23.8rem;
}

.container {
  width: 96.4rem;
  height: 44.9rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 3.2rem;
}

.inputHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text {
  white-space: nowrap;
  @include sopoqa-28-700;
  letter-spacing: 0.02em;
}

.icon {
  width: 3.2em;
  height: 3.2em;
}

.alertModal {
  width: 54rem;
  height: 25rem;
}
