.container {
  position: absolute;
  top: 4rem;
  right: 0;
  width: 39rem;
  padding: 2.4rem 2rem;
  border-radius: 1rem;
  border: 0.1rem solid $color-gray-20;
  background-color: $color-white;
  box-shadow: 0 0.2rem 0.8rem 0 rgba(120, 116, 134, 0.25);
  z-index: $zindex-popover;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.header {
  display: flex;
  justify-content: space-between;

  @include sopoqa-20-700;
}

.divider {
  border: 0.1rem solid $color-gray-10;
}

.closeIcon {
  fill: $color-black;
  cursor: pointer;
}

.pay {
  position: relative;
  .payInput {
    position: relative;
    width: 17rem;
    height: 5.8rem;
  }

  p {
    position: absolute;
    bottom: 1.5rem;
    left: 18rem;

    @include sopoqa-16-400;
  }
}

.buttons {
  display: flex;
  gap: 0.8rem;

  div:nth-child(1) {
    flex-grow: 1;
  }

  div:nth-child(2) {
    flex-grow: 3;
  }
}

@include mobile {
  .container {
    position: fixed;
    width: 100%;
    height: 100vh;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    top: 0;
    padding-bottom: 10rem;
    overflow: auto;
  }

  .content {
    overflow: auto;
  }

  .buttons {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.6rem 1.2rem;
    border-top: 0.1rem solid $color-gray-20;
    background-color: $color-white;
  }
}
