.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 23.8rem;

  @include tablet {
    padding: 6rem 3.2rem;
  }

  @include mobile {
    padding: 4rem 1.2rem;
  }

  .registerContiner {
    display: flex;
    gap: 16rem;
    width: 95.7rem;

    @include tablet {
      flex-direction: column;
      gap: 2.4rem;
      width: 100%;
    }

    @include mobile {
      flex-direction: column;
      gap: 1.6rem;
      width: 100%;
    }
  }

  .myProfile {
    color: $color-black;
    @include sopoqa-28-700;
    letter-spacing: 0.056rem;
  }

  .profileContainer {
    padding: 3.2rem;
    width: 66.5rem;
    border-radius: 1.2rem;
    background: #ffebe7;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
    }
  }

  .profile {
    display: flex;
    justify-content: space-between;
  }

  .profileInfo {
    display: flex;
    width: 39.2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.8rem;
  }

  .profileData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
  }

  .nameContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .name {
    color: $color-primary;
    @include sopoqa-16-700;

    @include mobile {
      @include sopoqa-14-700;
    }
  }

  .apiName {
    color: $color-black;
    @include sopoqa-28-700;

    @include mobile {
      @include sopoqa-24-700;
    }
  }

  .phoneNumberContainer {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .phoneNumber {
    color: $color-gray-50;
    @include sopoqa-16-400;

    @include mobile {
      @include sopoqa-14-400;
    }
  }

  .locationContainer {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .location {
    color: $color-gray-50;
    @include sopoqa-16-400;

    @include mobile {
      @include sopoqa-14-400;
    }
  }

  .bio {
    color: #000;
    @include sopoqa-16-400;

    @include mobile {
      @include sopoqa-14-400;
    }
  }

  .button {
    width: 16.9rem;
    height: 4.8rem;

    @include mobile {
      width: 10.8rem;
      height: 3.7rem;
    }
  }
}
